<cp-top-toolbar [title]="toolbarTitle" ></cp-top-toolbar>
<md-card>
  <md-card-content>
    <fa [name]="'users'"></fa> Users
    <hr>
    <md-list>
      <md-list-item *ngFor="let user of users | async">
        <h4 md-line> <fa [name]="'user-o'"></fa> {{user.username}}</h4>
        <p md-line> <fa [name]="'envelope-o'"></fa> {{user.email}} </p>
        <p md-line> <fa [name]="'key'"></fa> {{user.password}} </p>
        <p md-line> <md-divider></md-divider></p>
      </md-list-item>

    </md-list>
  </md-card-content>
</md-card>

